body, h1, h2 {
    margin: 0;
    padding: 0;
    }
    
    body {
		
	background: #d9ffb3;
    font-family: Arial, sans-serif;
    }
    
	.navigation
	{
	 width: 15%;
     position: fixed;
     height: 100%;	
     background-color: black;	 
	}
	
	.navigation img
	{
		
	margin-top: -20px;
	margin-left: 30px;	
	}
	
	.navigation nav li
	{
	padding: 15px;	
	}
	
	.navigation nav li a
	{
		
	color: orange;
    text-decoration: none;
	font-size: 18px;
font-weight: bold;	
	}
	
	.navigation nav li a:hover
	{
		transform: translateY(-10px);
	}
	
    h1 {
    padding: 10px;
    background: #ffcc00;
	margin-left: 190px;
    }
	
	h3
	{
		text-align: center;
		margin-left: -680px;
		font-weight: bold;
		font-size: 28px;
		margin-bottom: -10px;
		
	}
	
	h2
	{
		font-size: 28px;
		font-weight: bold;
		text-align: left;
		margin-top: -30px;
	}
	
	h4
	{
		font-size: 34px;
	}

        
        i
        {
             float: right;
             margin-right: 25px;
             margin-top: -25px;
             cursor: pointer;
            
        }
    
    /*----------------------*/
    /* Read Users */
    /*----------------------*/
    
    
    #userList {
    margin: 0;
    padding: 0;
    width: 200px;
    float: left;
    margin: 10px;
    border: 1px solid #a6ff4d;
	width: 30%;
	height: 50%;
	margin-left: 230px;
	font-size: 20px;
	font-weight: bold;
	margin-top: 23px;
    }
    
    
    #userList h2 {
    padding: 10px;
    color: black;
	text-align: center;
    }
    
    
    #userList li {
    padding: 5px 10px;
    border-top: 1px solid #a6ff4d;
    cursor: pointer;
    color: black;
    font-style: italic;
	list-style: none;
    }
    
    
    
    #userList li:hover {
    background: #a6ff4d;
    }
    
    #userDetail {
    float: left;
    width: 500px;
	height: 600px;
    margin: 10px;
    margin-left: 0;
    padding: 10px;
    border: 1px solid #a6ff4d;
    color: black;
	font-size: 18px;
	text-transform: uppercase;
	font-style: italic;
	font-weight: bold;
    }
    
	